@use '../../global-styling/Variables.scss' as v;

.sort-function-and-filter-container {
  justify-content: end;
  display: flex;
  gap: 15px;

  @media screen and (min-width: v.$desktop-screen) {
    justify-content: end;
  }
}