.sort-ff-container {
    display: flex;
    justify-content: flex-end;
  }

  /* Add margin to create space between components */
.sort-ff-container > * {
  margin-right: 20px; /* Adjust the value as needed for the desired spacing */
}