@use '../../../global-styling/Variables.scss' as v;

@keyframes fadeInFromTop {
    from {
      opacity: 0%;
      transform: translateY(-100%);
    }

    to {
      opacity: 100%;
      transform: translateY(0%);
    }
  }

.login-page {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;

    &__headline {
        animation: fadeInFromTop 2s;
        font-weight: 700;
        font-size: 32px;
        color: v.$primary-color;
    }

    &__subline {
        animation: fadeInFromTop 2s;
        font-weight: 400;
        font-size: 24px;
        color: v.$primary-color;
    }

    @media screen and (min-width: v.$desktop-screen) {
        &__headline {
            font-size: 40px;
        }
    
        &__subline {
            font-size: 32px;
        }
    }

    &__container {
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);

        &__button {
            cursor: pointer;
            height: 48px;
            width: 200px;
            background-color: v.$primary-color;
            font-family: v.$secondary-font;
            border: none;
            color: white;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;

            &:hover {
                transition: 0.2s;
                background-color: darken(v.$primary-color, 2%);
            }
        }
    }
}