@use '../../global-styling/Variables.scss' as v;
@use '../../global-styling/mixins' as mix;

.single-post-view-container {
    display: grid;
    grid-template-columns: 1fr;

    gap: v.$gap-desktop;
    padding: 40px;

    @media screen and (min-width: v.$desktop-screen) {
        grid-template-columns: 2fr 1fr;
    }
}

.single-post-container {
    padding: 20px;
    background-color: v.$white;
    border-radius: 5px;

    // box-shadow: 10px 10px 5px 16px rgba(0,0,0,0.56);
    &__content {
        margin-left: 75px;

    }
}

.single-post-view-heading {
    @include mix.flex-center(start, start, 20px);
    // 55+20 = 75

    &__upvote {
        display: none;

        @media screen and (min-width: calc(v.$desktop-screen)) {
            display: block;
        }
    }

    .single-post-container {
        padding: 20px;
        background-color: v.$white;
        border-radius: 5px;
        box-shadow: v.$drop-shadow;
        width: 75px;
    }
}

.comment-missing-login {
    background-color: v.$grey;
    height: 64px;

    @include mix.flex-center;

}

.new-comment-form {

    form {

        input {
            width: 70%;
            height: 35px;
            font-size: 15px;
            padding: 15px;
        }
    }
}