@use '../../../../global-styling/Variables.scss' as v;

.dropdown-menu {
    position: absolute;
    background: v.$white;
    border: 1px solid v.$offblack; /* Solid border with a 2px width */
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.05); /* Box shadow with the desired values */
    padding: 10px;
    border-radius: 5px;
    z-index: 1; // Ensure it's displayed above other content

    ul {
      list-style-type: none;
    }
  }