@use '../../global-styling/Variables.scss' as v;

.create-post-btn {
background-color: v.$primary-color;
border-radius: 5px;
display: flex;
width: 200px;
height: 55px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
color: v.$white;
font-family: v.$secondary-font;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.75px;
text-transform: uppercase;

&__icon {
    background-image: url('../../content/gfx/Icons/create-icon.svg');
    width: 15px;
height: 15px;
flex-shrink: 0;

}
@media screen and (min-width: v.$desktop-screen) {
height: 35px;
    
  }
}

