@use '../../../global-styling/mixins' as mix;
@use '../../../global-styling/Variables.scss' as v;

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-container {
    display: flex;
    flex-direction: column;  // To stack the filtered posts vertically
    align-items: center;     // Center horizontally
    }

// sort-function-btn styling
.sort-function-btn {
    @include mix.filter-btn-styling;
  
    &.active {
      background: darken(v.$offwhite, 10%);
    }
  
      &__icon {
      @include mix.arrow-icon-size;
      background-image: url('../../../content/gfx/Icons/arrow-down-icon.svg');
      }
  }
  
  .dropdown-menu {
    @include mix.dropdown-menu-styling;
  }

// category-filter-btn styling
.category-filter-btn {
  @include mix.filter-btn-styling;
  width: auto; // Set your desired fixed width
  overflow: hidden; // Hide any content that overflows the box

  @media (max-width: 500px) {
    width: 155px; // Set width to auto for screens under 500px
  }

  &.active {
    background: darken(v.$offwhite, 10%);
  }

  .content-container {
    display: flex;
    align-items: center;
  }

  &__icon {
    @include mix.arrow-icon-size;
    background-image: url('../../../content/gfx/Icons/arrow-down-icon.svg');
  }

  .close-icon {
    @include mix.icon-image-centering('../../../content/gfx/Icons/close-icon.svg', 20px, 20px);
    cursor: pointer;
  }

  .text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; // Allow the text to grow and take available space
  }
}
  
  .category-list {
    @include mix.dropdown-menu-styling;
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        cursor: pointer;
  
        button {
          background: none;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
  
          &:hover {
            background: darken(v.$offwhite, 10%);
          }
        }
      }
    }
  }

  .category-selected {
    background: darken(v.$offwhite, 10%);
  }

  // search-function-btn styling
  .search-function-btn {
    @include mix.filter-btn-styling;
  
    p {   
    @media (max-width: 500px) {
        display: none; // Hide the text under 500px
      }
    }
  

    &__icon {
      @include mix.icon-image-centering('../../../content/gfx/Icons/search-function-icon.svg', 20px, 20px);
      margin-left: 5px; 

      @media (max-width: 500px) {
        margin-left:0px; // Remove margin to center icon
      }

    }
  }

  .search-input {
    @include mix.filter-btn-styling;
  
    &.active {
      @include mix.filter-btn-styling;
      cursor: initial;
    }
  
    .input-container {
      display: flex;
      align-items: center;
    }
  
    input {
      border: none;
      background: transparent;
      font-family: v.$secondary-font;
      font-size: 15px;
      font-weight: 500;
      height: 35px;
      width: 100%;
      
      &:focus, &:not(:focus) {
        border-radius: 0px;
        border-left:none;
        border-right: none;
        outline: none;
      }
    }
  
    .input-icon {
      @include mix.icon-image-centering('../../../content/gfx/Icons/search-function-icon.svg', 20px, 20px);
      cursor: pointer;
    }
  
    .close-icon {
      @include mix.icon-image-centering('../../../content/gfx/Icons/close-icon.svg', 20px, 20px);
      cursor: pointer;
    }
  }