// Import React dependencies if needed
// import { useState } from "react";

// Import variables from the 'Variables.scss' file
@use '../../global-styling/Variables.scss' as v;

// Base styling for .test class
.test {
    background-color: #1c215d;
}

// Placeholder for border color styles
.border-color {
    // Add border-color styles here
}

// Styling for .category-btn-mypost-text class
.Statusfilters-btn-mypost-text {
    border-style: solid;
    position: relative;
    width: 110px;
    height: 35px;
    flex-shrink: 0;

    // Uncomment this line to set the background color to white
    // background-color: white;

    color: #404040;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    // Use the secondary font defined in Variables.scss
    font-family: v.$secondary-font;

    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid;

    // Styling for the .category-btn-mypost-text__indicator sub-element
    &__indicator {
        width: 4px;
        height: 100%;
        background-color: #ED8007;
        position: absolute;
        right: 0%;
        top: 0;
    }
}

// Background color classes for specific categories
.MyPost {
    background-color: #ED8007;
}

.Review {
    background-color: #85B5B5;
}

.Planned {
    background-color: #1FA0FF;
}

.InProgress {
    background-color: #C17AFF;
}

.Complete {
    background-color: #6CD345;
}

// Border color classes for specific categories
// Use these classes to set border colors
.MyPost-border-color {
    border-color: #ED8007;
}

.Review-border-color {
    border-color: #85B5B5;
}

.Planned-border-color {
    border-color: #1FA0FF;
}

.InProgress-border-color {
    border-color: #C17AFF;
}

.Complete-border-color {
    border-color: #6CD345;
}

// Background color classes for specific categories when toggled
.MyPost-background-color {
    background-color: #ED8007;
    color: white;
}

.Review-background-color {
    background-color: #85B5B5;
    color: white;
}

.Planned-background-color {
    background-color: #1FA0FF;
    color: white;
}

.InProgress-background-color {
    background-color: #C17AFF;
    color: white;
}

.Complete-background-color {
    background-color: #6CD345;
    color: white;
}

// Media query for larger screens
@media screen and (min-width: v.$desktop-screen) {
    .Statusfilters-btn-mypost-text {
        height: 35px;
        width: 116.153px;
        flex-shrink: 0;
    }
}

