@use '../../global-styling/Variables.scss' as v;
@import '../../global-styling/mixins';

.upvote-btn {
    height: 50px;
    width: 50px;

    border-radius: 5px;
    background-color: v.$offwhite;
    color: v.$grey;
    border: v.$border-size solid v.$grey;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: .9;
    }

    &--active {
        @extend .upvote-btn;
        background-color: v.$primary-color;
        border-color: v.$primary-color;
    }

    &__icon {
        background-image: url('../../content/gfx/Icons/upvote-arrow-white.svg');
        @include icon-image-centering;


        &--active {
            background-image: url('../../content/gfx/Icons/upvote-arrow.svg');
            @include icon-image-centering;
        }
    }

    &__text {
        color: v.$offblack;
        font-family: v.$secondary-font;

        &--active {
            color: v.$offwhite;
        }
    }

}