
@use '../../global-styling/mixins' as mix;

.admin {
    @include mix.flex-center(start);
    
    color: green;
    &--logo {
        @include mix.icon-image-centering('../../content/gfx/Icons/logo_15x10.png', 15px, 10px );
        margin-left: 5px;
    }
}

.user {
    color: orange;
}