@use "../../global-styling/Variables.scss" as v;
@use "../../global-styling/mixins" as mix;

nav {
  background-color: white;
  position: sticky;
  height: 70px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: v.$desktop-screen) {
    height: 65px;
    padding: 10px 30px;
  }

  .menu-items {
    display: none;

    &__log-out {
      height: 45px;
      width: 45px;
      background-image: url('../../content/gfx/Icons/log-out-icon.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }

    &__profile {
      height: 45px;
      width: 45px;
      background-image: url('../../content/gfx/Icons/profile-icon.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: v.$desktop-screen) {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__log-out {
        height: 30px;
        width: 30px;
        background-size: 85%;
      }

      &__profile {
        height: 30px;
        width: 30px;
        background-size: 85%;
      }


      li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px 0;
        height: 70px;
        width: 55px;

        &:hover {
          transition: 0.5s;
          background-color: rgba(0, 0, 0, 0.056);
          cursor: pointer;
        }

        a {
          text-decoration: none;
          font-size: 1rem;
          font-weight: 600;
          color: v.$black;

          img {
            height: 20px;
          }
        }
      }
    }
  }

  .burger-menu-icon {
    @media screen and (min-width: v.$desktop-screen) {
      display: none;
      position: relative;
    }
  }

  @keyframes slide {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  .dark-backdrop {
    animation: slide 0.2s;
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: rgb(0, 0, 0);
    opacity: 0.5;

    @media screen and (min-width: v.$desktop-screen) {
      display: none;
    }
  }

  .nav-dropdown-menu {
    animation: slide 0.5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    background-color: v.$white;
    margin-top: 70px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;

    @media screen and (min-width: v.$desktop-screen) {
      display: none;
    }

    &__items {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 40px;

      &__flex {
        @include mix.flex-center;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: relative;
        padding: 10px 0;

        a {
          display: flex;
          gap: 15px;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 600;
          color: v.$black;

          img {
            height: 20px;
          }
        }
      }
    }
  }
}

.navigation-logo {
  display: flex;
  align-items: center;
  gap: 15px;

  &__img {
    height: auto;
    width: 100%;
    max-width: 35px;
  }

  &__company-name {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: v.$secondary-font;
  }
}

.navigation-profile-pic {
  width: 30px;
  border-radius: 50%;
}