@use "../../global-styling/Variables.scss" as v;

nav {
    margin: 20px;
    border-bottom: solid 1px #ededed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .menu-items {
        display: none;
    }

 
    @media screen and (min-width: v.$desktop-screen) {
        .menu-items {
            list-style: none;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;            

           li {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
           }


        }
    }
}

.navigation-logo {
    width: 66px;


    &__img {
        height: auto;
        width: 100%;
    }
}
