@use "./Variables.scss" as v; // Import variables from Variables.scss for use in this file.

main {
	max-width: 1200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: v.$primary-font; // Set the font-family using the primary font variable.
	// background-color: v.$white; // (This line is commented out, so it won't affect the code)
}

.background {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #ffffffb3 25%, #ffffff00), url("../content/gfx/background-image.png");
	background-attachment: fixed; // Position the background image as fixed.
	background-repeat: no-repeat; // Prevent the background image from repeating.
	background-size: cover; // Scale the background image to cover the container.
	background-position: center center;
	overflow: auto;
	position: relative;

	&__image {
		width: 100vw;
		height: 100vh;
	}
}

.wrap {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 80px;

	@media screen and (min-width: v.$desktop-screen) {
		max-width: 1200px;
		margin: auto;

	}
}

.hide-on-mobile {
    display: none;
	
    @media screen and (min-width: v.$desktop-screen) {
        display: block;
    }
}