@use '../../../global-styling/Variables.scss' as v;
@import '../../../global-styling/mixins.scss';

.search-function-btn {
  @include filter-btn-styling;

  &__icon {
    @include icon-image-centering('../../../content/gfx/Icons/search-function-icon.svg', 20px, 20px);
    // background-image: url('../../../content/gfx/Icons/search-function-icon.svg');
  }
}

.search-input {
  @include filter-btn-styling;

  &.active {
@include filter-btn-styling
  }

  input {
    border: none;
    background: transparent;
    font-family: v.$secondary-font;
    font-size: 15px;
    font-weight: 500;
    height: 35px;
    padding: 5px 15px;
    align-items: center;
    gap: 10px;
  }
}