@use '../../../global-styling/mixins' as mix;
@use '../../../global-styling/Variables.scss' as v;

.category-filter-btn {
    border-radius: 5px;
    border: 0.5px solid v.$black;
    background: v.$white;
    font-family: v.$secondary-font;
    font-size: 15px;
    font-weight: 500;
    display: inline-flex;
    height: 35px;
    padding: 5px 15px;
    align-items: center;
    gap: 10px;;

    .active {
        background: darken(v.$offwhite, 10%);
      }

&__icon {
@include mix.arrow-icon-size; 
    background-image: url('../../../content/gfx/Icons/arrow-down-icon.svg');
    }
}

.category-dropdown {
    position: absolute;
    background: v.$white;
    border: 1px solid v.$offblack;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
  
    ul {
      list-style-type: none;
    }
  
    &__list-item:hover {
      background: darken(v.$offwhite, 10%);
    }
}